/* Eat Right strat */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat', sans-serif;
}

.banner1 {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.color {
    color: orange;
}

.text h1 {
    font-size: 60px;
    line-height: 78px;
    letter-spacing: -2%;
    font-weight: 700;
    color: #575757;
}

.text p {
    color: #828282;
    font-size: 20px;
    letter-spacing: -2%;
    line-height: 32px;
}

.button-link {
    box-shadow: 0px 2px 30px 0px #FC8F4980;
    padding: 24px 32px;
    border-radius: 100px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    font-size: 18px;
    border: 0ch;
}

.link-button {
    text-decoration: none;
    color: white;
}

.image {
    height: 747px;
    width: 658px;

}

/* Eat Right end */

/* About strat */
.banner2 {
    display: flex;
    align-items: center;
}

.banner2-image {
    width: 735px;
    height: 600px;
    margin-left: 50px;
}

.banner2-text {
    width: 540px;
    height: 246px;
}

.banner2-text h1 {
    width: 444px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    color: #707070;
}

.banner2-text p {
    width: 444px;
    height: 160px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding: 40px 10px;
}

.contact {

    box-shadow: 0px 2px 30px 0px #FC8F4980;
    padding: 24px 32px;
    border-radius: 50px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    font-size: 18px;
    border: 0;
}

.contact-us {
    text-decoration: none;
    color: white;
}

/* About end */
/* Our Recipes start */
.recipes {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.recipes1 {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards {
    margin: 20px;
    border: 5px solid white;
    padding: 20px;
    box-shadow: 0px 0px 40px 0px #00000026;
    border-radius: 20px;
}

.cards h2 {
    font-size: 28;
    font-weight: 700;
    margin: 10px 10px;
}

.cards p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.cards img {
    width: 337px;
    height: 256px;
    border-radius: 20px;
}

/* Our Recipes end */
/* We Are start */
.we {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 700;
}

.liton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    padding: 65px 165px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #0000001A;

}

.banner4-text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

/* We Are end */
/* Happy clients start */
.happy {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px
}

.banner5-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
}

.banner5-text img {
    width: 100%;
    /* height: 256px; */
    border-radius: 50%;
    border: 2px solid red;
}

.review {
    margin: 20px;
    border: 5px solid white;
    padding: 20px;
    box-shadow: 1px 0px 20px 0px #00000026;
    border-radius: 20px;
}

.review h3 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
    margin: 20px;

}

.review p {
    font-weight: 400px;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

/* Happy clients end */
/* Food network start */
.banner6 {
    background: #242121;
    width: 1260px;
    height: 256px;
    margin-top: 20px;
}

.food {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #fff;
    margin: 20px 20px;
}

.food1 {
    text-align: center;
    color: #fff;
}

.order-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu {}

.menu h2 {
    color: #fff;
    margin: 20px 20px;
}

.menu ul {
    color: rgb(168, 166, 166);
}